@page
@model RazorPagesMovie.Pages.StudentCases.IndexModel

@{
    ViewData["Title"] = "Student Cases";
}

<h1>Student Cases</h1>

<p>
    <a asp-page="Create">Create New Student Case</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Student</th>
            <th>Prescriber</th>
            <th>Opened Date</th>
            <th>Case Reason</th>
            <th>Case Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentCase) {
        <tr>
            <td>@item.Student?.FirstName @item.Student?.LastName</td>
            <td>@item.Prescriber?.FirstName @item.Prescriber?.LastName</td>
            <td>@item.OpenedDate</td>
            <td>@item.CaseReason</td>
            <td>@item.CaseStatus</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StudentCaseId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StudentCaseId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StudentCaseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>