@page
@model RazorPagesMovie.Pages.StudentCaseNotes.IndexModel

@{
    ViewData["Title"] = "Student Case Notes";
}

<h1>Student Case Notes</h1>

<p>
    <a asp-page="Create">Create New Student Case Note</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Case</th>
            <th>Prescriber</th>
            <th>Note Text</th>
            <th>Created At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentCaseNote) {
        <tr>
            <td>@item.StudentCase?.CaseReason</td>
            <td>@item.Prescriber?.FirstName @item.Prescriber?.LastName</td>
            <td>@item.NoteText</td>
            <td>@item.CreatedAt</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StudentCaseNoteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StudentCaseNoteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StudentCaseNoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>