@page
@model RazorPagesMovie.Pages_Prescribers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Prescriber</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescriber.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescriber.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescriber.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescriber.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescriber.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescriber.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescriber.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescriber.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescriber.TrainedStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescriber.TrainedStatus)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Prescriber.PrescriberId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
