@page
@model RazorPagesMovie.Pages_Prescribers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prescriber</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescriber.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescriber.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescriber.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescriber.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescriber.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescriber.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescriber.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescriber.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescriber.TrainedStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescriber.TrainedStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prescriber.PrescriberId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
