@page
@model RazorPagesMovie.Pages.Prescriptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.DateAssigned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.DateAssigned)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.AttendanceConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.AttendanceConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.ReminderSent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.ReminderSent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Student.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Prescriber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Prescriber.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.CampusEvent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.CampusEvent.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prescription.PrescriptionId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
